<script type="text/html" data-w-name="input" data-w-type="checkbox">
    <label class="checkbox-input">
        <label></label>
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</script>

<script type="text/html" data-w-name="input" data-w-type="radio">
    <label class="radio-input">
        <input type="radio">
        <span class="checkmark"></span>
    </label>
</script>
<script type="text/html" data-w-name="input" data-w-type="table_text_input" contenteditable="true">
    <div class="text-input" data-input-control="true" data-input-control-type="textarea"
         data-hidden-place-holder=".oa-html-content-text-place-holder">
        <textarea />
        <p class="oa-html-content-text-place-holder" style="display: none"></p>
    </div>
</script>

<script type="text/html" data-w-name="input" data-w-type="table-editor-checkbox">
    <div class="checkbox-wrapper">
        <input type="checkbox">
        <label class="" name="contains_vertical_headers" data-label="Vertical Headers" data-checked="true">
            Horizontal Headers
        </label>
    </div>
</script>