<li id="ora-table-builder" class="openassessment_prompt ora-table-builder" data-prompt="{{ prompt_uuid }}">
    <script type="text/html"  data-w-name="input" data-w-type="checkbox">
        <label class="checkbox-input">
            <label></label>
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </script>
    <script type="text/html"  data-w-name="input" data-w-type="radio">
        <label class="radio-input">
            <input type="radio">
            <span class="checkmark"></span>
        </label>
    </script>

    <script type="text/html"  data-w-name="input" data-w-type="table_text_input" contenteditable="true">
        <p class="text-input" contenteditable="true"></p>
    </script>
    <script type="text/html"  data-w-name="input" data-w-type="table-editor-checkbox">
        <div class="checkbox-wrapper">
            <input type="checkbox">
            <label class="" name="contains_vertical_headers" data-label="Vertical Headers" data-checked="true">
                Horizontal Headers
            </label>
        </div>
    </script>

    <input type="hidden" class="openassessment_prompt_uuid" value="{{ prompt_uuid }}" />
    <textarea class="openassessment_prompt_description setting-input is--hidden" data-w-type="html-control"></textarea>
</li>