//
// Skin : elements - controls
// ====================
//

%btn-skin-blue,
.btn-skin-blue {
  @extend %t-strong;
  background: $strong-blue !important;
  border: 1px solid $strong-blue !important;
  color: white;
  padding: 12px 15px;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: normal !important;
  letter-spacing: normal;
  font-size: 14px;
  font-family: $brand-font !important;
  border-radius: $base-border-radius;
  @media (min-width: $screen-sm-min) {
    min-width: 200px;
    padding: 16px 24px;
  }

  &[disabled] {
    background: $grey-f5 !important;
    color: darken($greyish, 6%);
    border: 1px solid darken($greyish, 4%) !important;
  }

  &:hover {
    background: $normal-blue !important;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:focus,
  &:active {
    background: $dark-blue !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.btn--bordered {
  background: $white !important;
  color: $strong-blue;
  border: 1px solid $strong-blue !important;

  &[disabled] {
    background: $grey-f5 !important;
    color: darken($greyish, 6%);
    border: 1px solid darken($greyish, 4%) !important;
  }

  &:hover {
    background: $lighter-blue !important;
  }

  &:focus,
  &:active {
    background: rgba(0, 105, 163, 0.08) !important;
  }
}

.btn--small {
  @extend %btn-skin-blue;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 8px 10px !important;
  @media (min-width: $screen-sm-min) {
    padding: 8px 15px !important;
  }
}

.file--upload--container {

	$file-input-width: 160px;
	$file-input-height: 34px;

  position: relative;
  margin: 0 0 15px !important;
  display: inline-block;

  input[type=file] {
    opacity: 0;
    cursor: pointer;
    background: transparent !important;
    width: $file-input-width !important;
    height: $file-input-height !important;
    min-width: 0 !important;
    border: none !important;
    font-size: 0 !important;
    padding: 0 !important;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    &:hover {
      cursor: pointer;
    }

    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }

  &:before {
    width: $file-input-width;
    height: $file-input-height;
    color: $strong-blue;
    font-size: 13px;
    line-height: 32px;
    content: 'UPLOAD FILE';
    display: inline-block;
    background: white;
    border: 1px solid $strong-blue;
    border-radius: 4px;
    padding: 0 10px;
    text-align: center;
    font-family: $brand-font;
  }

  &:hover {

    &:before {
      background: $sky-lighter;
    }
  }

  &.disabled-input {

    input[type=file] {
      pointer-events: none;

      &:hover {
        cursor: default;
      }
    }

    &:before {
      color: #333;
      border-color: #ccc;
      background: #f2f2f2;
    }
  }
}

.uploaded-file {
  margin-top: 15px !important;

  .uploaded-title {
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
  }

  img {
    max-width: 300px;
  }
}

.wrapper--xblock {

  .problem {

    form {
      overflow: inherit;
    }

    textarea {
      max-width: 100%;

      @include placeholder {
        color: #999ba8;
        font-family: $brand-font;
      }
    }

    p {
      font-size: 16px;
      @extend %t-light;
      letter-spacing: 0;
    }
  }
}
