// edX theme: elements
// ====================
//
// NOTES:
// * This is where any skin related element styling or overrides are included
//

.wrapper--xblock {

  .problem {
    font-family: $brand-font;

    .answer {

      .wrapper--input {

        input[type="radio"] {
          opacity: 0;
          width: 0;
          height: 0;
          margin: 0 !important;

          + label:after {
            content: none;
          }

          &:checked {

            + label:after {
              content: "";
            }
          }

          &:focus {

            + label:before {
              outline: none;
            }
          }
        }

        label {
          position: relative;
          padding-left: 35px;

          &:before,
          &:after {
            position: absolute;
            display: inline-block;
            border-radius: 50%;
          }

          &:before {
            content: "";
            width: 23px;
            height: 23px;
            background-color: #F9F9F9;
            border: 1px solid rgba(8, 57, 84, 0.2);
            left: 0;
            top: -1px;
          }

          &:after {
            content: "";
            width: 13px;
            height: 13px;
            background: #39628d;
            left: 5px;
            top: 4px;
          }
        }
      }
    }

    .wrapper--grid {

      > .problem__header {
        font-size: 16px;
        color: $marine;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: $brand-font;
        @media (min-width: $screen-md-min) {
          @include float(left);
          font-size: 18px;
        }

        + .wrapper-openassessment__message {
          @media (min-width: $screen-md-min) {
            width: auto;
            padding: 1px 0 0 30px;
            overflow: hidden;
            @include text-align(right);
          }

          p {
            font-size: 14px;
            @media (min-width: $screen-md-min) {
              @include text-align(right);
            }
          }

          .openassessment__message {

            .message__title,
            .message__content {
              @media (min-width: $screen-md-min) {
                display: inline-block;
                margin-left: 5px;
              }
            }

            .message__title {
              padding: 0;
              color: $base;
              border: none;
              font-weight: normal;

              &:after {
                content: " :";
              }
            }
          }
        }
      }
    }

    .openassessment__steps {
      position: relative;

      .openassessment__steps__step {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 15px;
        @media (min-width: $screen-sm-min) {
          padding: 25px;
        }
        @media (min-width: $screen-md-min) {
          padding: 25px 30px;
        }

        .wrapper--step__content {
          border: none;
          margin-top: 20px;

          ul.in-progress-steps-list {
            margin: 0 0 20px;
            padding: 0;
            @media (min-width: $screen-md-min) {
              display: table;
              table-layout: fixed;
              margin: 0 0 50px;
              padding: 0 0 20px;
            }

            li.in-progress-steps-item {
              margin-bottom: 50px;
              min-width: 130px;
              display: inline-block;
              position: relative;
              @media (min-width: $screen-md-min) {
                vertical-align: top;
                display: table-cell;
                margin-bottom: 0;
              }

              .step-block {
                width: 34px;
                height: 34px;
                line-height: 34px;
                position: relative;
                color: $base;
                display: block;
                @include text-align(center);

                .step-copy {
                  color: $base;
                  display: block;
                  white-space: nowrap;
                  position: absolute;
                  left: 50%;
                  bottom: -30px;
                  transform: translateX(-50%);
                }

                &:before {
                  content: '';
                  width: 34px;
                  height: 34px;
                  background: white;
                  border-radius: 50%;
                  position: absolute;
                  z-index: -1;
                  left: 0;
                  top: 0;
                  border: 1px solid $pastel-orange;
                }
              }

              &:after {
                content: '';
                height: 1px;
                width: 80px;
                background: $pastel-orange;
                display: block;
                position: absolute;
                right: 7px;
                top: 16px;
              }

              &.completed {

                .step-block {
                  color: white;

                  .step-copy {

                    &:before {
                      content: "";
                      position: absolute;
                      right: -16px;
                      top: -3px;
                      width: 8px;
                      height: 15px;
                      border: solid $base;
                      border-width: 0 1px 1px 0;
                      -ms-transform: rotate(45deg);
                      -webkit-transform: rotate(45deg);
                      transform: rotate(45deg);
                    }
                  }

                  &:before {
                    background: $greeny-blue;
                    border: 1px solid $greeny-blue;
                  }
                }

                &:after {
                  background: $greeny-blue;
                }
              }

              &.active {

                .step-block {
                  color: white;

                  .step-copy {
                    font-weight: 600;
                  }

                  &:before {
                    background: $pastel-orange;
                    border: 1px solid $pastel-orange;
                  }
                }

                &:after {
                  background: $pastel-orange;
                }
              }

              &:last-child {

                &:after {
                  content: none;
                }
              }
            }
          }
        }

        &.is--complete {
          border-top-color: $greeny-blue;

          .step__status__value {
            background: $greeny-blue;
          }
        }

        &.is--incomplete,
        &.is--in-progress {
          border-top-color: $pastel-orange;

          .step__status__value {
            background: $pastel-orange;
          }

          .copy {
            color: white;
          }
        }

        &.is--unavailable {

          .step__header {

            .step__counter {
              color: #414141;

              &:before {
                color: #414141;
              }
            }

            .wrapper--copy {

              .step__label {
                color: #414141;
              }
            }
          }
        }
      }

      .step__header {
        @media (max-width: $screen-xs-max) {
          margin-top: 20px;
        }

        .ui-slidable {
          @media (max-width: $screen-sm-max) {
            @include text-align(left);
          }

          .step__counter {
            color: $marine;
            @media (max-width: $screen-sm-max) {
              display: inline !important;
            }

            &:before {
              color: $marine;
            }

            &:after {
              content: '.';
              position: relative;
              font-size: 16px;
              font-weight: bold;
              margin-right: 5px;
            }
          }

          .wrapper--copy {
            width: auto;
            padding: 0;
            margin: 0;
            border: none;
            @media (max-width: $screen-sm-max) {
              display: inline !important;
            }

            .step__label,
            .step__deadline {
              display: inline-block;
              font-family: $brand-font;
            }

            .step__label {
              color: $marine;
              font-size: 16px;
              text-transform: uppercase;
            }

            .step__deadline {
              color: darken($greyish, 10%);
              margin-left: 15px;
            }
          }
        }

        .step__status {
          right: 0;
          top: -1px;
          margin: 0;
          position: absolute;

          .copy {
            font-family: $brand-font;
          }

          .step__status__value {
            border-radius: 0;
            padding: 5px 15px 10px;
            @media (max-width: $screen-xs-max) {
              padding: 5px 10px 10px;
              border-radius: 0 0 ($base-border-radius/2) ($base-border-radius/2);
            }
          }
        }
      }

      .step__content {
        padding: 0;

        .list--peer-assessments {
          padding: 0;

          .list--peer-assessments__item {

            .peer-assessment__display {
              margin-bottom: 30px;
            }
          }
        }

        .self-assessment__display {
          margin-bottom: 30px;

          .submission__answer__part__prompt {
            padding-left: 20px;
          }
        }

        .submission__answer__display__content {
          padding: 20px;
          margin: 0;
          counter-reset: prompt_counter;

          p {
            font-size: 14px;
          }

          .submission__answer__part {
            @media (min-width: $screen-sm-min) {
              margin-top: 50px;
            }

            &:first-child {
              @media (min-width: $screen-sm-min) {
                margin-top: 10px;
              }
            }

            .submission__answer__part__text__title {
              font-weight: 500;
              font-size: 16px;
              font-family: $brand-font;

              &.lbl-answer-text {
                margin-top: 15px;
              }

              &:not(.lbl-answer-text):before {
                content: counter(prompt_counter, upper-latin) ". ";
                counter-increment: prompt_counter;
              }
            }

            .step__content {

              .submission__answer__part__text__title {
                font-weight: 500;
                font-size: 16px;
                font-family: $brand-font;
              }
            }
          }
        }

        .submission__peer-evaluations {

          .submission__peer-evaluations__title {
            font-size: 18px;
            font-weight: 500;
            font-family: $brand-font;
          }

          .submission__peer-evaluations__questions {

            .question {

              .question__score {
                font-family: $brand-font;
              }

              .question__answers {

                .answer {

                  .answer__source__value,
                  .answer__value__value {
                    font-family: $brand-font;
                  }
                }
              }
            }
          }
        }

        .question,
        .field {

          .question__title {
            border: none;

            .ui-slidable {

              .icon {
                color: $marine;
              }
            }

            .question__title__copy {
              font-size: 17px;
              color: $marine;
              font-weight: normal;
            }
          }
        }

        .peer-assessment__display {

          .submission__answer__display__content {
            margin-left: 0;
            padding-left: 15px;
            padding-right: 15px;
          }
        }

        .peer-assessment,
        .self-assessment__assessment,
        .student-training__assessment,
        .peer-assessment__assessment {

          .assessment__fields {

            .assessment__rubric {
              margin: 0;
              color: $marine;
              padding-left: 15px;

              .field {
                font-family: $brand-font;

                .question__answers {
                  margin-left: 0;
                  margin-right: 0;

                  > div {

                    &[role="group"] {

                      .answer {
                        padding: 15px 0;

                        .wrapper--input {
                          width: calc(20% - 2.35765%);
                        }

                        .wrapper--metadata {
                          width: 80%;

                          .answer__tip {
                            width: 100%;
                            margin: 0;
                          }
                        }
                      }
                    }
                  }

                  .answer--feedback {
                    margin-top: 30px;
                  }
                }

                &:before {
                  content: none !important;
                }

                &:after {
                  content: '';
                  display: table !important;
                }
              }
            }
          }
        }

        .response__submission {
          padding: 0;
          background: transparent;
          @media (max-width: $screen-xs-max) {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
          }

          ul {
            padding: 0;
            margin: 0;
            list-style: none;

            &.list--fields {
              counter-reset: prompt_counter;

              li {

                &.submission__answer__part {
                  margin: 40px 0;

                  .submission__answer__part__text__title {
                    font-family: $brand-font;
                    font-weight: 600;
                    font-size: 15px;

                    &:before {
                      content: counter(prompt_counter, upper-latin) ". ";
                      counter-increment: prompt_counter;
                    }
                  }

                  .submission__answer__part__prompt {
                    padding: 0;
                    border: none;
                    box-shadow: none;
                  }
                }
              }
            }

            &.list--actions {

              li.list--actions__item {

                &.save-submit-response {
                  max-width: 500px;
                  margin: 20px auto 0 !important;

                  .tbl-view {
                    width: 100%;
                    display: table;
                    table-layout: fixed;

                    .tbl-col {
                      width: 41%;
                      display: table-cell;

                      button[type="submit"] {
                        min-width: 0;
                        width: 100%;
                        margin: 0;

                        &.action--submit {
                          @extend %btn-skin-blue;
                        }

                        &.action--save {
                          @extend .btn--bordered;
                        }
                      }

                      &:nth-child(2) {
                        width: 18%;
                        font-size: 16px;
                        font-weight: 500;
                        @include text-align(center);
                        vertical-align: middle;
                      }
                    }
                  }

                  .response__submission__label {
                    margin: 10px 0 0;
                    font-size: 13px;
                    font-weight: normal;
                    color: $greyish;
                    text-transform: none;
                    font-family: $brand-font;
                  }
                }
              }
            }
          }
        }

        textarea {
          padding: 15px;
          overflow: auto !important;
          -webkit-box-shadow: none;
          box-shadow: none;
          font-weight: normal;
          -moz-box-shadow: none;
          font-family: $brand-font;
          background: $grey-f5;
          border: 1px solid $greyish;
          @include transition(0.3s);
          border-radius: $base-border-radius;

          &:focus {
            background: white;
            border-color: $marine;
          }
        }

        input {
          min-width: 0;
          margin: 0;
        }
      }

      .step__actions {

        ul {
          margin: 0;

          li {
            margin-left: 0;
            margin-right: 0;
            @include text-align(center);

            button {
              margin-left: auto;
              margin-right: auto;
              max-width: 300px;
            }
          }

          &.list--actions {
            max-width: 400px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
