//
// New skin variables
//
$base:                  #4A4A4A;
$brand-font:            'Montserrat', sans-serif;
$base-border-radius:    4px;

$base-font:             14px;

$sky-lighter:           #F5F8FC;
$sky:                   #81C7FF;
$bright-orange:         #FFA145;
$pastel-orange:         #FF9545;
$lemon-light:           #f6f6ec;
$lemon:                 #d4ce0a;
$redish-orange:         #FE7459;
$white-two:             #FAFAFA;
$dark-blue:             #0467A0;
$strong-blue:           #0079C2;
$normal-blue:           #1E8AC9;
$lighter-blue:          #F5FBFC;
$marine:                #003A56;
$greyish:               #AAAAAA;
$coral-pink:            #FC5A5B;
$turquoise:             #3EA094;
$bluish-grey-border:    #E4E5EC;
$bluish-grey:           #849AA5;
$greeny-blue:           #00C5A8;
$greyish-40:            rgba(170, 170, 170, 0.4);
$grey-f5:               #F5F5F5;
$grey-f2:               #F2F2F2;
$grey-f1:               #F1F1F1;
$grey-lightest:         #F9F9F9;
$grey-lighter:          #E9E9E9;
$white:                 #FFFFFF;
$placeholder-text:      #A0A2AF;

// Media Queries
$screen-xxxs:           300px;
$screen-xxs:            400px;
$screen-xs-max:         767px;
$screen-sm-min:         768px;
$screen-sm-max:         991px;
$screen-md-min:         992px;
$screen-md-max:         1199px;
$screen-lg-min:         1200px;
$screen-xlg-min:        1440px;