// openassessment: utilities - variables
// ====================

// NOTES:
// * these are openassessment-specific variable files

// --------------------
// layout (neat-based) - forced breakpoints/sizing
// --------------------
$grid-size-s: 530px;                                                                    // small
$grid-size-m: 760px;                                                                    // medium
$grid-size-l: 925px;                                                                    // large
$grid-size-x: 1300px;                                                                   // extra large
$grid-size-f: 1600px;                                                                   // full size

// --------------------
// layout (neat-based) - mediaqueries
// --------------------
$bp-m: new-breakpoint(max-width ($grid-size-s - 1) 4);                                  // mobile devices - make grid 4 columns
$bp-ds: new-breakpoint(min-width $grid-size-s max-width ($grid-size-m - 1) 6);          // small displays - make grid 6 columns
$bp-dm: new-breakpoint(min-width $grid-size-m max-width ($grid-size-l - 1) 12);         // medium displays - make grid 12 columns
$bp-dl: new-breakpoint(min-width $grid-size-l max-width ($grid-size-x - 1) 12);         // large displays - make grid 12 columns
$bp-dx: new-breakpoint(min-width $grid-size-x 12);                                      // large displays - make grid 12 columns


// New skin variables
$base:                  #4a4a4a;
$brand-font:            'Montserrat', sans-serif;
$base-border-radius:    4px;

$pastel-orange:         #FF9545;
$marine:                #003A56;
$greyish:               #AAAAAA;
$greeny-blue:           #00C5A8;
$grey-lightest:         #F9F9F9;
$grey-lighter:          #E9E9E9;
$white:                 #FFFFFF;

// Media Queries
$screen-xxxs:           300px;
$screen-xxs:            400px;
$screen-xs-max:         767px;
$screen-sm-min:         768px;
$screen-sm-max:         991px;
$screen-md-min:         992px;
$screen-md-max:         1199px;
$screen-lg-min:         1200px;
$screen-xlg-min:        1440px;
